<header class="site-header">

  <div class="wrapper">

    <div class="site-head-left">
      <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

      <nav class="site-nav site-nav--pages">
        {% for my_page in site.pages %}
          {% if my_page.header %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </nav>
    </div>

    <nav class="site-nav site-nav--icons">
      <span class="nav-icons">
        {% include icon-mail.html %}
        {% if site.github_username %}{% include icon-github.html username=site.github_username %}{% endif %}
        {% include icon-scholar.html %}
        {% comment %} {% include icon-resume.html %} {% endcomment %}
      </span>
    </nav>

  </div>

</header>
